body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;

}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1px 0;
/*
  position: fixed;
  width: 100%;
*/
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

#container {
  max-width: 800px;
  margin: auto; 
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 60px;
}

#profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#profile img {
  border-radius: 50%;
  margin-right: 20px;
}

#details {
  margin-bottom: 1px;
}

#projects {
  margin-bottom: 20px;
}

.project-container {
  display: flex;
  justify-content: space-between;
}

.project-card {
  width: calc(33.33% - 20px);
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.project-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project-details {
  display: none;
  margin-top: 10px;
}
}

#skills {
  margin-bottom: 20px;
}

#contact {
    margin-bottom: 60px;
}
#contact-container {
  display: flex;
  justify-content: space-between;
}
#contact-text {
  width: 48%; 
}
#contact-form {
  width: 48%; 
}

form {
  background-color: #f2f2f2; 
  padding: 20px;
  border-radius: 5px; 
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
  //z-index: 1
}

